services:
  server:
    depends_on:
      database:
        condition: service_healthy
      sqitch-migrator:
        condition: service_completed_successfully
    healthcheck:
      test: ["CMD-SHELL", "nc -z localhost:3333 || exit 1"]
      interval: 2s
      timeout: 30s
      retries: 30
    restart: unless-stopped
    build:
      context: ./server/
      dockerfile: Dockerfile
      pull: true
    ports:
      - "${SERVER_PORT}:3333"
    env_file:
      - .env
      - ${ENV}.env
      - ${ENV}.secrets
      - global.env
    environment:
      DATABASE_URL: postgres://${DATABASE_USER}:${DATABASE_PASSWORD}@database:5432/${DATABASE_NAME}
      VERSION: ${VERSION}

  app:
    depends_on:
      server:
        condition: service_healthy
    restart: unless-stopped
    build:
      context: ./
      dockerfile: ./app/Dockerfile
      pull: true
    ports:
      - "${APP_PORT}:80"
    env_file:
      - .env
      - ${ENV}.env
      - ${ENV}.secrets
      - global.env
    environment:
      VERSION: ${VERSION}
